nodeSelector:
  k8s.yaook.cloud/gpu-node: "true"

tolerations:
  - key: k8s.yaook.cloud/gpu-node
    operator: Exists
    effect: NoSchedule
  - key: k8s.yaook.cloud/gpu-node
    operator: Exists
    effect: PreferNoSchedule

# Subcharts
# https://github.com/NVIDIA/gpu-operator/tree/master/deployments/gpu-operator/charts/node-feature-discovery
nfd:
  # limit to GPU nodes for
  worker:
    tolerations: {}
    nodeSelector:
      k8s.yaook.cloud/gpu-node: "true"
# https://github.com/NVIDIA/gpu-feature-discovery
gfd:
  enabled: true
