apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: "v{{ k8s_version }}"
controlPlaneEndpoint: "{{ private_vip }}:{{ hostvars[gateway]['k8s_apiserver_frontend_port'] }}"
networking:
    podSubnet: {{ k8s_network_pod_subnet | to_json }}
    serviceSubnet: {{ k8s_network_service_subnet | to_json }}

apiServer:
    extraArgs:
        enable-admission-plugins: NodeRestriction{% if k8s_use_podsecuritypolicies %},PodSecurityPolicy{% endif %}

