{{ _auto_generated_preamble }}
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: "v{{ k8s_version }}"
controlPlaneEndpoint: "{{ private_vip }}:{{ hostvars[available_frontend]['k8s_apiserver_frontend_port'] }}"
networking:
    podSubnet: {{ k8s_network_pod_subnet | to_json }}
    serviceSubnet: {{ k8s_network_service_subnet | to_json }}

apiServer:
    extraArgs:
        service-account-issuer: kubernetes.default.svc
        service-account-signing-key-file: /etc/kubernetes/pki/sa.key
        enable-admission-plugins: NodeRestriction{% if k8s_use_podsecuritypolicies %},PodSecurityPolicy{% endif %}

controllerManager:
    extraArgs:
        "bind-address" : "0.0.0.0"
        "terminated-pod-gc-threshold": "{{ terminated_pod_gc_threshold }}"

scheduler:
    extraArgs:
        "bind-address" : "0.0.0.0"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
authentication:
    anonymous:
        enabled: false
