protocol bgp wg_s2s_peer {
  table master;
  local {{ wg_s2s_ip }} as {{ wg_s2s_bgp_as }};
  neighbor {{ wg_s2s_peer_ip }} as {{ wg_s2s_peer_bgp_as }};
  import filter {
    scope = SCOPE_ORGANIZATION;
    accept;
  };
  export filter {
    if scope = SCOPE_UNIVERSE then {
      accept;
    }
    reject;
  };
}
