[Interface]
Address = {{ wg_s2s_ip }}/31
ListenPort = {{ wg_s2s_port }}
PrivateKey = {{ lookup('passwordstore', 'wg_gw_key directory={{ password_store_dir }}') }}
Table = off # Do not configure any routes, we have bird for that

[Peer]
PublicKey = {{ wg_s2s_peer_pub_key }}
AllowedIps = 0.0.0.0/0
Endpoint = {{ wg_s2s_peer_public_endpoint }}
