[Unit]
Description=Renew SSH certificates from vault

[Service]
Type=oneshot
RemainAfterExit=false
User=root
Group=root
EnvironmentFile=/etc/vault/config
ExecStart=/bin/bash /usr/local/lib/tarook/get-ssh-cert.sh
