
http {
  # tls settings
  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_ciphers   HIGH:!aNULL:!MD5;

  server {
    server_name _;
    listen {{ install_node_https_mirror_port }} ssl;
    ssl_certificate /etc/ssl/private/cert.pem;
    ssl_certificate_key /etc/ssl/private/private.key;

    location /pip/ {
      root /var/lib/mirror/pip/;
    }

    location /misc/ {
      root /var/lib/mirror/misc/;
    }
  }

  {% for item, info in container_mirrors | zip(container_mirror_info.results) %}
  server {
    server_name _;
    listen {{ item.port }} ssl;
    ssl_certificate /etc/install-node/registry/tls/cert.pem;
    ssl_certificate_key /etc/install-node/registry/tls/private.key;

    add_header "Docker-Distribution-Api-Version" "registry/2.0";

    location /v2/ {
       proxy_pass http://{{ info.container.NetworkSettings.IPAddress }}:5000/v2/;
       proxy_set_header X-Forwarded-Proto "https";
       limit_except GET {
         # by adding auth here we can allow pushing for authenticated users!
         deny all;
       }
    }
  }
  {% endfor %}
}
