{{
  {} | combine(
    ({
      "nodeAffinity": {
        "requiredDuringSchedulingIgnoredDuringExecution": {
          "nodeSelectorTerms": [
            {
              "matchExpressions": [
                {
                  "key": scheduling_key,
                  "operator": "Exists"
                }
              ]
            }
          ]
        }
      }
    } if (scheduling_key | default('', true) | length) > 0 else {}),
    ({
      "podAffinity": {
        "requiredDuringSchedulingIgnoredDuringExecution": [
          {
            "labelSelector":
              {
                "matchExpressions": [
                  {
                    "key": pod_affinity_key,
                    "operator": (pod_affinity_operator | default('Exists')),
                    "values": (pod_affinity_values | default([]))
                  }
                ]
              },
            "topologyKey": "kubernetes.io/hostname"
          }
        ]
      }
    } if (pod_affinity_key | default('', true) | length) > 0 else {})
  )
  | to_json
}}
