[{% if (scheduling_key | default('') | length) > 0 %}
  {
    "key": {{ scheduling_key | to_json }},
    "operator": "Exists",
    "effect": "NoSchedule"
  },
  {
    "key": {{ scheduling_key | to_json }},
    "operator": "Exists",
    "effect": "NoExecute"
  }
{% endif %}]
