KUBELET_KUBEADM_ARGS="{% if infrastructure_type == 'openstack' | default(false) %}--cloud-provider=external {% endif %} --node-ip={{ local_ipv4_address }} --container-runtime=remote --container-runtime-endpoint=unix:///run/containerd/containerd.sock"
