{{ _auto_generated_preamble }}

apiVersion: audit.k8s.io/v1
kind: Policy
rules:
- level: Request
  verbs: ["create", "delete", "update", "deletecollection"]
  resources:
  - group: "" # core
    resources: ["pods"]
  - group: apps
    resources: []

# Secrets, ConfigMaps, TokenRequest and TokenReviews can contain sensitive & binary data,
# so only log at the Metadata level.
- level: Metadata
  verbs: ["create", "delete", "update", "deletecollection"]
  resources:
  - group: "" # core
    resources: ["secrets", "configmaps"]

# Don't log remaining matching resources at all (since the _first_ matching rule applies to a resource)
- level: "None"
  namespaces: []
  verbs: []
  resources: []
  nonResourceURLs: []
