{{ _auto_generated_preamble }}

apiVersion: audit.k8s.io/v1
kind: Policy
# Don't generate audit events for all requests in RequestReceived stage.
# Use union of both if omitStages is also defined in rules.
omitStages:
  - "RequestReceived"
  - "ResponseStarted"
rules:
- level: Metadata
  resources:
  - group: ""
    resources: ["pods"]

- level: "None"
  namespaces: []
  verbs: []
  resources: []
  nonResourceURLs: []

  # Audit profile from Google Container-Optimized OS
  # https://github.com/kubernetes/kubernetes/blob/cacd595bae429e5739edaf02c6915e9c5731dea7/cluster/gce/gci/configure-helper.sh#L1227C1-L1232C18
  # Don't log events with no relevance for us and which happen very often

  # Don't log these read-only URLs.
  #- level: None # The first matching rule sets the audit level of the event
  #  nonResourceURLs:
  #    - /healthz*
  #    - /readyz # We had maaaaaany of those with code 200
  #    - / # Had many of those, too, by user system:anonymous with HTTP 403
  #    - /livez # Here, too
  #    - /version
  #    - /swagger*
