---
apiVersion: crd.projectcalico.org/v1
kind: FelixConfiguration
metadata:
  name: default
spec:
  prometheusMetricsEnabled: true

---
apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: calico-node
    app.kubernetes.io/name: calico-node
  name: felix-metrics-svc
  namespace: calico-system
spec:
  clusterIP: None
  selector:
    k8s-app: calico-node
    app.kubernetes.io/name: calico-node
  ports:
  - port: 9092
    targetPort: 9092
    name: metrics-port
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: calico-typha
    app.kubernetes.io/name: calico-typha
  name: typha-metrics-svc
  namespace: calico-system
spec:
  clusterIP: None
  selector:
    k8s-app: calico-typha
    app.kubernetes.io/name: calico-typha
  ports:
  - port: 9093
    targetPort: 9093
    name: metrics-port
    protocol: TCP

---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: typha-metrics-svc-monitor
  namespace: calico-system
{% if monitoring_common_labels %}
  labels:
{% for label_key, label_value in monitoring_common_labels.items() %}
    {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
spec:
  namespaceSelector:
    matchNames:
      - calico-system
  selector:
    matchLabels:
      k8s-app: calico-typha
      app.kubernetes.io/name: calico-typha
  endpoints:
    - port: metrics-port
      path: /metrics

---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: felix-metrics-svc-monitor
  namespace: calico-system
{% if monitoring_common_labels %}
  labels:
{% for label_key, label_value in monitoring_common_labels.items() %}
    {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
spec:
  namespaceSelector:
    matchNames:
      - calico-system
  selector:
    matchLabels:
      k8s-app: calico-node
      app.kubernetes.io/name: calico-node
  endpoints:
    - port: metrics-port
      path: /metrics

---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: calico-kube-controller-metrics-svc-monitor
  namespace: calico-system
{% if monitoring_common_labels %}
  labels:
{% for label_key, label_value in monitoring_common_labels.items() %}
    {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
spec:
  namespaceSelector:
    matchNames:
      - calico-system
  selector:
    matchLabels:
      k8s-app: calico-kube-controllers
  endpoints:
    - port: metrics-port
      path: /metrics
...
