---
apiVersion: crd.projectcalico.org/v1
kind: FelixConfiguration
metadata:
  name: default
spec:
  prometheusMetricsEnabled: true

---
apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: calico-node
    app.kubernetes.io/name: calico-node
  name: felix-metrics-svc
  namespace: calico-system
spec:
  clusterIP: None
  selector:
    k8s-app: calico-node
    app.kubernetes.io/name: calico-node
  ports:
  - port: 9092
    targetPort: 9092
    name: metrics-port
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: calico-typha
    app.kubernetes.io/name: calico-typha
  name: typha-metrics-svc
  namespace: calico-system
spec:
  clusterIP: None
  selector:
    k8s-app: calico-typha
    app.kubernetes.io/name: calico-typha
  ports:
  - port: 9093
    targetPort: 9093
    name: metrics-port
    protocol: TCP

---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: typha-metrics-svc-monitor
  namespace: calico-system
{% if monitoring_common_labels %}
  labels:
{% for label_key, label_value in monitoring_common_labels.items() %}
    {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
spec:
  namespaceSelector:
    matchNames:
      - calico-system
  selector:
    matchLabels:
      k8s-app: calico-typha
      app.kubernetes.io/name: calico-typha
  endpoints:
    - port: metrics-port
      path: /metrics

---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: felix-metrics-svc-monitor
  namespace: calico-system
{% if monitoring_common_labels %}
  labels:
{% for label_key, label_value in monitoring_common_labels.items() %}
    {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
spec:
  namespaceSelector:
    matchNames:
      - calico-system
  selector:
    matchLabels:
      k8s-app: calico-node
      app.kubernetes.io/name: calico-node
  endpoints:
    - port: metrics-port
      path: /metrics

# Since Calico Tigera v3.32 a NetworkPolicy is automatically deployed which
# prevents scraping metrics from the calico-kube-controllers
# There is currently no way to avoid that via helm values
# Therefore, we have to override the NetworkPolicy by introducing
# a new tier which has a lower order than the calico-system tier
# and adding a NetworkPolicy to that tier which allows scraping the
# calico-kube-controller metrics from the supplied Prometheus instance
#
# See https://github.com/projectcalico/calico/issues/13370
{% if k8s_network_calico_helm_chart_version is version('3.32.0', 'ge') %}
---
apiVersion: projectcalico.org/v3
kind: Tier
metadata:
  name: calico-system-override
spec:
  defaultAction: Pass
  order: 75
---
apiVersion: projectcalico.org/v3
kind: NetworkPolicy
metadata:
  name: calico-kube-controllers-allow-monitoring
  namespace: calico-system
spec:
  selector: app.kubernetes.io/name == 'calico-kube-controllers'
  tier: calico-system-override
  order: 1000
  types:
    - Ingress
  ingress:
  - action: Allow
    protocol: TCP
    destination:
      ports: ['9094']
    source:
      namespaceSelector: kubernetes.io/metadata.name == '{{ monitoring_helm_release_namespace }}'
      selector: app.kubernetes.io/name == 'prometheus'
{% endif %}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: calico-kube-controller-metrics-svc-monitor
  namespace: calico-system
{% if monitoring_common_labels %}
  labels:
{% for label_key, label_value in monitoring_common_labels.items() %}
    {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
spec:
  namespaceSelector:
    matchNames:
      - calico-system
  selector:
    matchLabels:
      k8s-app: calico-kube-controllers
  endpoints:
    - port: metrics-port
      path: /metrics
...
