#jinja2:lstrip_blocks: True
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: frontend-node-exporter
  namespace: "{{ monitoring_namespace }}"
{% if monitoring_common_labels %}
  labels:
{% for label_key, label_value in monitoring_common_labels.items() %}
    {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
spec:
  namespaceSelector:
    matchNames:
      - "{{ monitoring_namespace }}"
  selector:
    matchLabels:
      app: prometheus-frontend-node-exporter
  endpoints:
    - interval: 30s
      port: metrics
      path: /metrics

---

kind: Service
apiVersion: v1
metadata:
  name: prometheus-frontend-node-exporter
  namespace: "{{ monitoring_namespace }}"
  labels:
    app: prometheus-frontend-node-exporter
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 9100
      targetPort: 9100

---

kind: Endpoints
apiVersion: v1
metadata:
  name: prometheus-frontend-node-exporter
  namespace: "{{ monitoring_namespace }}"
subsets:
  - addresses:
{% for node in groups['frontend'] %}
{% if ipv4_enabled %}
    - ip: {{ hostvars[node]["local_ipv4_address"] }}
{% elif ipv6_enabled %}
    - ip: {{ hostvars[node]["local_ipv6_address"] }}
{% endif %}
{% endfor %}
    ports:
      - name: metrics
        port: 9100
