apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: rook-ceph-mgr
  namespace: "{{ rook_namespace }}"
  labels:
    team: rook
{% if monitoring_common_labels %}
{% for label_key, label_value in monitoring_common_labels.items() %}
    {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
spec:
  namespaceSelector:
    matchNames:
      - rook-ceph
  selector:
    matchLabels:
      app: rook-ceph-mgr
      rook_cluster: "{{ rook_cluster_name }}"
  endpoints:
  - port: http-metrics
    path: /metrics
    interval: 5s
