# https://github.com/kubernetes/cloud-provider-openstack/blob/1a287a0b1c42bfdebf5b4337d4301a8418a815c0/manifests/cinder-csi-plugin/csi-cinder-driver.yaml

apiVersion: storage.k8s.io/v1
kind: CSIDriver
metadata:
  name: cinder.csi.openstack.org
spec:
  attachRequired: true
  podInfoOnMount: true
  volumeLifecycleModes:
  - Persistent
  - Ephemeral
