[Unit]
    Description=Service to enable SR-IOV for Nvidia GPUs after reboot
    Before=kubelet.service
[Install]
    WantedBy=multi-user.target
[Service]
    Type=oneshot
    StandardOutput=journal
    ExecStart=/usr/lib/nvidia/sriov-manage -e ALL
