protocol static {
    table master;
    # Add routes to basically route everything via the VIP
    route 0.0.0.0/1 via {{ networking_fixed_ip }};
    route 128.0.0.0/1 via {{ networking_fixed_ip }};
}

# A function used to export the above routes to peers
function filter_default_overwrite() {
    if (net = 0.0.0.0/1) || (net = 128.0.0.0/1) then {
        bgp_local_pref = 200;  # Set local preference to override default route on peers
        bgp_next_hop = {{ networking_fixed_ip }};
        return true;
    }
    return false;
}
