[Unit]
Description=textfile collector script for node-exporter

[Service]
Type=simple
ExecStart=/bin/bash "/usr/local/bin/system_update_status.sh"
Restart=on-abnormal
User=node-exporter
Group=node-exporter

[Install]
WantedBy=multi-user.target
