{{ _auto_generated_preamble }}

filter k8s_worker {
    {% for ep in wg_endpoints %}
    {% if ep.enabled and ep.ip_cidr is defined %}
    if net = {{ ep.ip_cidr }} then accept;
    {% endif %}
    {% endfor %}
    if scope = SCOPE_ORGANIZATION then accept;
    else reject;
}
