# This template gives access to the internal node network,
# the Kubernetes Pod and Service networks,
# as well as to the virtual IP and therefore to the Kubernetes API

[Interface]
PrivateKey = REPLACEME # Please insert your private key here
Address = {%- if ipv4_enabled and endpoint.ip_cidr is not none %}{{ item['ips'][endpoint.id] }}{% endif +%}{%- if ipv6_enabled and endpoint.ipv6_cidr is not none %}, {{ item['ipsv6'][endpoint.id] }}{% endif +%}

{# In case the network MTU is known we set the wireguard tunnel's max MTU like so:                                                     #}
{#   wg-mtu-ipv4_6    = <network-mtu(min(openstack.network_mtu, 1492))> - <ipv6-header(40)> - <udp-header(8)> - <wireguard-header(32)> #}
{#   wg-mtu-ipv4_only = <network-mtu(min(openstack.network_mtu, 1492))> - <ipv4-header(20)> - <udp-header(8)> - <wireguard-header(32)> #}
{# The tunnel's MTU is capped so that its packets never exceed 1492 bytes, which is a common MTU for DSL connections                   #}
{% if ipv6_enabled %}
# wg-mtu = <network-mtu({{ [openstack_network_mtu | int, 1492] | min }})> - <ipv6-header(40)> - <udp-header(8)> - <wireguard-header(32)>
MTU = {{ [openstack_network_mtu | int, 1492] | min - 80 }}
{% elif ipv4_enabled %}
# wg-mtu = <network-mtu({{ [openstack_network_mtu | int, 1492] | min }})> - <ipv4-header(20)> - <udp-header(8)> - <wireguard-header(32)>
MTU = {{ [openstack_network_mtu | int, 1492] | min - 60 }}
{% endif %}

[Peer]
PublicKey = {{ lookup('file', (wg_local_pub_path, keyfile_name) | path_join ) }}
Endpoint = {% if ipv4_enabled +%}{{ endpoint.ip }}:{{ endpoint.port }}{% endif +%}
AllowedIPs = {% if ipv4_enabled and endpoint.ip_cidr is not none %}{{ endpoint.ip_cidr }}, {{ subnet_cidr }}{% endif +%}{%- if ipv6_enabled and endpoint.ipv6_cidr is not none +%}, {{ endpoint.ipv6_cidr }}, {{ subnet_v6_cidr }}{% endif +%}{% if ipv4_enabled +%}, {{ k8s_network_pod_subnet }}, {{ k8s_network_service_subnet }}{% endif +%}{% if ipv6_enabled %}, {{ k8s_network_pod_subnet_v6 }}, {{ k8s_network_service_subnet_v6 }}{% endif +%}
PersistentKeepalive = 25
