{{ _auto_generated_preamble }}

[Interface]
Address = {{ endpoint.ip_gw }} {%- if dualstack_support %}, {{ endpoint.ipv6_gw }}{% endif %}

ListenPort = {{ endpoint.port }}
PrivateKey = {{ wg_gw_priv_key }}

{% for peer in wg_peers %}
# {{ peer["ident"] }}
[Peer]
PublicKey = {{ peer["pub_key"] }}
AllowedIps = {{ peer["ips"][endpoint.id] }} {%- if dualstack_support %}, {{ peer["ipsv6"][endpoint.id] }}{% endif %}

{% endfor %}
