{{ _auto_generated_preamble }}

[Interface]
Address = {% if ipv4_enabled and endpoint.ip_gw is defined %}{{ endpoint.ip_gw }}{% endif %}{%- if ipv6_enabled and endpoint.ipv6_gw is defined %}, {{ endpoint.ipv6_gw }}{% endif %}

ListenPort = {{ endpoint.port }}
PrivateKey = {{ wg_gw_priv_key }}

{% if network_mtu is defined %}
{% if ipv6_enabled %}
MTU = {{ network_mtu | int - 80 }}
{% elif ipv4_enabled %}
MTU = {{ network_mtu | int - 60 }}
{% endif %}
{% endif %}

{% for peer in wg_peers %}
# {{ peer["ident"] }}
[Peer]
PublicKey = {{ peer["pub_key"] }}
AllowedIps = {% if ipv4_enabled and endpoint.ip_cidr is defined %}{{ peer["ips"][endpoint.id] }}{% endif %}{%- if ipv6_enabled and endpoint.ipv6_cidr is defined %}, {{ peer["ipsv6"][endpoint.id] }}{% endif %}

{% endfor %}
