---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: csi-sc-cinderplugin
provisioner: cinder.csi.openstack.org
reclaimPolicy: Delete
volumeBindingMode: Immediate
{% if openstack_cinder_volume_type is defined %}
parameters:
  type: {{ openstack_cinder_volume_type | to_json }}
{% endif %}
allowVolumeExpansion: true
...
