---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: "v{{ k8s_version }}"
controlPlaneEndpoint: "{% if ipv4_enabled %}{{ networking_fixed_ip }}{% else %}[{{ networking_fixed_ip_v6 }}]{% endif %}:{{ k8s_apiserver_frontend_port }}"
networking:
{% if ipv4_enabled and ipv6_enabled %}
    podSubnet: {{ [k8s_network_pod_subnet, k8s_network_pod_subnet_v6] | join(",") | to_json }}
    serviceSubnet: {{ [k8s_network_service_subnet, k8s_network_service_subnet_v6] | join(",") | to_json }}
{% elif ipv4_enabled %}
    podSubnet: {{ k8s_network_pod_subnet | to_json }}
    serviceSubnet: {{ k8s_network_service_subnet | to_json }}
{% elif ipv6_enabled %}
    podSubnet: {{ k8s_network_pod_subnet_v6 | to_json }}
    serviceSubnet: {{ k8s_network_service_subnet_v6 | to_json }}
{% endif %}

apiServer:
  extraArgs:
    - name: service-account-issuer
      value: "https://kubernetes.default.svc"
    - name: service-account-signing-key-file
      value: "/etc/kubernetes/pki/sa.key"
    - name: enable-admission-plugins
      value: "NodeRestriction"
{% if k8s_apiserver_audit_logs_enabled %}
    - name: audit-policy-file
      value: "/etc/kubernetes/audit-policy.yaml"
    - name: audit-log-path
      value: "/var/log/kubernetes/audit/audit.log"
    - name: audit-log-maxage
      value: "1"
    - name: audit-log-maxsize
      value: "{{ k8s_apiserver_audit_logs_max_size }}"
    - name: audit-log-maxbackup
      value: "1"
  extraVolumes:
    - name: "audit-policy"
      hostPath: "/etc/kubernetes/audit-policy.yaml"
      mountPath: "/etc/kubernetes/audit-policy.yaml"
      readOnly: true
      pathType: File
    - name: "audit-log"
      hostPath: "/var/log/kubernetes/audit/"
      mountPath: "/var/log/kubernetes/audit/"
      pathType: DirectoryOrCreate
{% endif %}

etcd:
  local:
    extraArgs:
{% if ipv4_enabled and ipv6_enabled %}
      - name: listen-metrics-urls
        value: "http://127.0.0.1:2381,http://[::1]:2381"
{% endif %}

controllerManager:
  extraArgs:
{% if ipv4_enabled %}
    - name: bind-address
      value: "0.0.0.0"
{% elif ipv6_enabled %}
    - name: bind-address
      value: "::"
{% endif %}
    - name: large-cluster-size-threshold
      value: "{{ k8s_controller_manager_large_cluster_size_threshold | default(50) }}"
{% if ipv6_enabled %}
    # The size for the pod subnets of the nodes.
    # This value is not respected by calico.
    # The maximum allowed diff is 16 bits and the smallest allowed value is /112
    - name: node-cidr-mask-size-ipv6
      value: "{{ [((k8s_network_pod_subnet_v6 | split('/'))[1] | int) + 16, 112] | min }}"
{% endif %}

scheduler:
    extraArgs:
{% if ipv4_enabled %}
      - name: bind-address
        value: "0.0.0.0"
{% elif ipv6_enabled %}
      - name: bind-address
        value: "::"
{% endif %}
