{{ _auto_generated_preamble }}

{{ lookup('template', 'kubeadm-InitConfiguration.yaml.j2') }}

{{ lookup('template', 'kubeadm-ClusterConfiguration.yaml.j2') }}

{{ lookup('template', 'kubeadm-KubeProxyConfiguration.yaml.j2') }}
