{{ lookup('template', 'kubeadm-InitConfiguration.yaml.j2') }}

{{ lookup('template', 'kubeadm-ClusterConfiguration.yaml.j2') }}

{% if k8s_network_kube_proxy_enabled %}
{{ lookup('template', 'kubeadm-KubeProxyConfiguration.yaml.j2') }}
{% endif %}

{% if k8s_kubelet_defaultOptions != {} %}
{{ lookup('template', 'kubeadm-KubeletConfiguration.yaml.j2') }}
{% endif %}
