{{ _auto_generated_preamble }}

apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
nodeRegistration:
  ignorePreflightErrors:
  - FileAvailable--etc-kubernetes-kubelet.conf
  kubeletExtraArgs:
{% if openstack_enabled %}
    - name: cloud-provider
      value: "external"
{% endif %}
{% if ipv4_enabled and ipv6_enabled %}
    - name: node-ip
      value: {{ [local_ipv4_address, local_ipv6_address] | join(",") | to_json }}
{% elif ipv4_enabled %}
    - name: node-ip
      value: {{ local_ipv4_address | to_json }}
{% elif ipv6_enabled %}
    - name: node-ip
      value: {{ local_ipv6_address | to_json }}
{% endif %}
  name: {{ inventory_hostname }}

discovery:
  file:
    kubeConfigPath: /etc/kubernetes/kubelet.conf
  timeout: 5m0s

controlPlane:
  localAPIEndpoint:
{% if ipv4_enabled %}
    advertiseAddress: {{ local_ipv4_address | to_json }}
{% elif ipv6_enabled %}
    advertiseAddress: {{ local_ipv6_address | to_json }}
{% endif %}
    bindPort: 6443

patches:
  directory: "/etc/kubernetes/kubeadm-patches"
