#!/usr/bin/env bash
set -euo pipefail

arg_num=1
if [ "$#" -ne "$arg_num" ]; then
    echo "ERROR: Expecting exactly $arg_num argument(s), but $# were given" >&2
    exit 1
fi
container_name="$1"

get_container_id () {
  container_id=""
  while [[ -z "$container_id" ]]
  do
    container_id="$(crictl --runtime-endpoint {{ k8s_cri_url | quote }} ps --name "^$container_name\$" --no-trunc -q)"
    if [[ -z "$container_id" ]]; then
      sleep 3
    fi
  done
  echo "$container_id"
}

# Trigger restart of container
# containerd can't restart by name, so we have to figure out the container ID
container_id="$(get_container_id)"
crictl --runtime-endpoint {{ k8s_cri_url | quote }} stop "$container_id"

# Wait until container restarted
# This can be assumed if we get a new container id
new_container_id="$(get_container_id)"
while [[ "$new_container_id" == "$container_id" ]]
do
  new_container_id="$(get_container_id)"
done
