apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: vault
  namespace: "{{ yaook_vault_namespace }}"
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: vault
      app.kubernetes.io/instance: vault
      yaook-vault: "true"
  endpoints:
  - port: https
    bearerTokenSecret:
      name: prometheus-bearer-token
      key: token
      optional: false
    interval: 60s
    scrapeTimeout: 60s
    scheme: https
    path: /v1/sys/metrics
    params:
      format:
      - prometheus
    tlsConfig:
      serverName: "vault.{{ yaook_vault_namespace }}.svc.cluster.local"
      ca:
        secret:
          name: vault-ca-internal
          key: ca.crt
          optional: false
  namespaceSelector:
    matchNames:
      - "{{ yaook_vault_namespace }}"
