{% if ch_k8s_lbaas_use_bgp %}
backend-layer='Pod'
{% else %}
backend-layer='NodePort'
{% endif %}
port-manager='{{ ch_k8s_lbaas_port_manager }}'

{% if ch_k8s_lbaas_port_manager == "openstack" %}
[openstack.auth]
region={{ lookup('env', 'OS_REGION_NAME') | to_json }}
username={{ lookup('env','OS_USERNAME') | to_json }}
password={{ lookup('env','OS_PASSWORD') | to_json }}
auth-url={{ lookup('env', 'OS_AUTH_URL') | to_json }}
user-domain-name={{ lookup('env', 'OS_USER_DOMAIN_NAME') | to_json }}
project-name={{ lookup('env', 'OS_PROJECT_NAME') | to_json }}
project-domain-id={{ lookup('env', 'OS_PROJECT_DOMAIN_ID') | to_json }}
auth-type={{ lookup('env', 'OS_AUTH_TYPE') | to_json }}
application-credential-id={{ lookup('env', 'OS_APPLICATION_CREDENTIAL_ID') | to_json }}
application-credential-secret={{ lookup('env', 'OS_APPLICATION_CREDENTIAL_SECRET') | to_json }}

[openstack.network]
use-floating-ips={{ ch_k8s_lbaas_use_floating_ips | ternary('true', 'false') }}
floating-ip-network-id={{ ch_k8s_lbaas_floating_ip_network_id | to_json }}
subnet-id={{ ch_k8s_lbaas_subnet_id | to_json }}
{% elif ch_k8s_lbaas_port_manager == "static" %}
[static]
ipv4-addresses = [
{% for addr in ch_k8s_lbaas_static_ipv4_addresses %}
    {{ addr | to_json }},
{% endfor %}
]
{% endif %}

[agents]
additional-address-pairs=[{{ networking_fixed_ip | to_json }}{% if ipv4_enabled %},"0.0.0.0/0"{% endif %}{% if ipv6_enabled %},"::/0"{% endif %}]
shared-secret={{ ch_k8s_lbaas_shared_secret | to_json }}
token-lifetime=60

{% if ch_k8s_lbaas_port_manager == "openstack" %}
{% for node in groups['frontend'] %}
[[agents.agent]]
url="http://{{ hostvars[node]['local_ipv4_address'] }}:{{ ch_k8s_lbaas_agent_port }}"
port-id="{{ hostvars[node]['port_id'] }}"
{% endfor %}
{% else %}
{% for url in ch_k8s_lbaas_agent_urls %}
[[agents.agent]]
url={{ url | to_json }}
{% endfor %}
{% endif %}
