[Interface]
Address = {{ wg_ip_gw }}
ListenPort = {{ vpn_port }}
PrivateKey = {{ wg_gw_priv_key }}

{% for peer in wg_peers %}
# {{ peer["ident"] }}
[Peer]
PublicKey = {{ peer["pub_key"] }}
AllowedIps = {{ peer["ip"] }}

{% endfor %}
