{{ _auto_generated_preamble }}

frontend k8s_front
  bind {{ networking_fixed_ip }}:{{ k8s_apiserver_frontend_port }}
  {% if dualstack_support %}
  bind {{ networking_fixed_ip_v6 }}:{{ k8s_apiserver_frontend_port }} transparent
  {% endif %}
  mode tcp
  log global
  option tcplog
  timeout client 600s
  default_backend k8s_back
  maxconn {{ haproxy_frontend_k8s_api_maxconn }}

backend k8s_back
  mode tcp
  option httpchk GET / "HTTP/1.1\r\nHost: 192.168.0.14\r\n\r\n"
  http-check expect status 403
  option redispatch
  log global
  balance roundrobin
  timeout connect 10s
  timeout server 600s

  {% for host in groups['masters'] %}
  server {{ host }} {{ hostvars[host]['local_ipv4_address'] }}:6443 check check-ssl verify none
  {% if dualstack_support %}
  server {{ host }} {{ hostvars[host]['local_ipv6_address'] }}:6443 check check-ssl verify none
  {% endif %}
  {% endfor %}
