apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ local_storage_storageclass_name | to_json }}
  namespace: {{ local_storage_namespace | to_json }}
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
# Supported policies: Delete, Retain
reclaimPolicy: Delete
