apiVersion: v1
kind: Service
metadata:
  name: local-storage-provisioner
  namespace: {{ local_storage_namespace | to_json }} 
  labels:
    app.kubernetes.io/name: local-storage
    app.kubernetes.io/instance: local-storage
    app.kubernetes.io/version: {{ local_storage_version | to_json }}
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: local-storage
    app.kubernetes.io/instance: local-storage
    app.kubernetes.io/version: {{ local_storage_version | to_json }}
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
