{{ _auto_generated_preamble }}
apiVersion: v1
kind: Service
metadata:
  name: local-storage-provisioner
  namespace: {{ k8s_local_storage_static_namespace | to_json }}
  labels:
    app.kubernetes.io/name: local-storage
    app.kubernetes.io/instance: local-storage
    app.kubernetes.io/version: {{ k8s_local_storage_static_version | to_json }}
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: local-storage
    app.kubernetes.io/instance: local-storage
    app.kubernetes.io/version: {{ k8s_local_storage_static_version | to_json }}
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
