{% if ipv4_enabled %}
net.ipv4.ip_forward=1
{% endif %}
{% if ipv6_enabled %}
net.ipv6.conf.all.forwarding=1
{% if ipv4_enabled %}
net.ipv6.conf.{{ ansible_default_ipv4.interface }}.forwarding=0
{% endif %}
{% endif %}
