{{ _auto_generated_preamble }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ k8s_local_storage_static_storageclass_name | to_json }}
  namespace: {{ k8s_local_storage_static_namespace | to_json }}
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
# Supported policies: Delete, Retain
reclaimPolicy: Delete
