apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: calico-typha
    app.kubernetes.io/name: calico
    app.kubernetes.io/part-of: calico-cni-plugin
  name: calico-typha-monitoring
  namespace: kube-system
spec:
  ports:
  - port: 9092
    name: metrics
    protocol: TCP
    targetPort: 9092
  selector:
    app.kubernetes.io/component: calico-typha
    app.kubernetes.io/name: calico
    app.kubernetes.io/part-of: calico-cni-plugin

---

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: calico-typha
  namespace: kube-system
{% if monitoring_common_labels %}
  labels:
{% for label_key, label_value in monitoring_common_labels.items() %}
    {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
spec:
  namespaceSelector:
    matchNames:
      - kube-system
  selector:
    matchLabels:
      app.kubernetes.io/component: calico-typha
      app.kubernetes.io/name: calico
      app.kubernetes.io/part-of: calico-cni-plugin
  endpoints:
    - port: metrics
      path: /metrics

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: calico-node
    app.kubernetes.io/name: calico
    app.kubernetes.io/part-of: calico-cni-plugin
  name: calico-node-monitoring
  namespace: kube-system
spec:
  ports:
  - port: 9092
    name: metrics
    protocol: TCP
    targetPort: 9092
  selector:
    app.kubernetes.io/component: calico-node
    app.kubernetes.io/name: calico
    app.kubernetes.io/part-of: calico-cni-plugin

---

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: calico-node
  namespace: kube-system
{% if monitoring_common_labels %}
  labels:
{% for label_key, label_value in monitoring_common_labels.items() %}
    {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
spec:
  namespaceSelector:
    matchNames:
      - kube-system
  selector:
    matchLabels:
      app.kubernetes.io/component: calico-node
      app.kubernetes.io/name: calico
      app.kubernetes.io/part-of: calico-cni-plugin
  endpoints:
    - port: metrics
      path: /metrics

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: calico-kube-controllers
    app.kubernetes.io/name: calico
    app.kubernetes.io/part-of: calico-cni-plugin
  name: calico-kube-controllers-monitoring
  namespace: kube-system
spec:
  ports:
  - port: 9094
    name: metrics
    protocol: TCP
    targetPort: 9094
  selector:
    app.kubernetes.io/component: calico-kube-controllers
    app.kubernetes.io/name: calico
    app.kubernetes.io/part-of: calico-cni-plugin

---

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: calico-kube-controllers
  namespace: kube-system
{% if monitoring_common_labels %}
  labels:
{% for label_key, label_value in monitoring_common_labels.items() %}
    {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
spec:
  namespaceSelector:
    matchNames:
      - kube-system
  selector:
    matchLabels:
      app.kubernetes.io/component: calico-kube-controllers
      app.kubernetes.io/name: calico
      app.kubernetes.io/part-of: calico-cni-plugin
  endpoints:
    - port: metrics
      path: /metrics
