##### BEGIN managed by yk8s
# hint: You can override any rule in this block
#       by copying it prefixed with '!' right after the end marker
*.key
etc/kubeadm_token
/wg*.conf
.terraform
.envrc.local
/.direnv
inventory
result
etc/admin.conf
state/terraform/config.tf.json
state/terraform/plan.tfplan
##### END managed by yk8s
