# A single Typha can support hundreds of Felix instances. That means we can
# safely scale it by the number of k8s nodes divided by fifty and ensure that
# at least two exist, if we have enough nodes for that
{% set node_bunches = (groups['k8s_nodes'] | length) / 50 %}
{% set target_number = node_bunches %}
{% set minimum_number_cp = [2, node_bunches] | max %}
# more typhas than we have k8s masters makes no sense and is also impossible
# to schedule (once we actually prevent typhas from running on random
# nodes...), but it could happen on small clusters using the logic above.
{% set maximum_number_cp = groups['masters'] | length %}
# now we pick the smallest number, because the maximum is a hard maximum and the minimum is a soft minimum
{% set cp_replicas = [minimum_number_cp, maximum_number_cp] | min %}
---
installation:
  enabled: true
  nodeMetricsPort: 9092
  typhaMetricsPort: 9093
  registry: "{{ k8s_network_calico_image_registry }}/"
  controlPlaneNodeSelector:
    node-role.kubernetes.io/control-plane: ""
  nonPrivileged: "True"
  controlPlaneReplicas: {{ cp_replicas }}
  calicoNetwork:
    mtu: {{ k8s_network_calico_mtu | to_json }}
{% if ipv4_enabled %}
    nodeAddressAutodetectionV4:
      # This works because calico only uses the routing table and
      # does not actually do a reachability check on layer 3 or so.
      # See also the commit message where this was introduced as to
      # why we don't use the cidrs matcher here.
      canReach: "{{ subnet_cidr | ansible.utils.ipv4('network') }}"
{% else %}
    nodeAddressAutodetectionV4: {}
{% endif %}
{% if ipv6_enabled %}
    nodeAddressAutodetectionV6:
      # This works because calico only uses the routing table and
      # does not actually do a reachability check on layer 3 or so.
      # See also the commit message where this was introduced as to
      # why we don't use the cidrs matcher here.
      canReach: "{{ subnet_v6_cidr | ansible.utils.ipv6('network') }}"
{% else %}
    nodeAddressAutodetectionV6: {}
{% endif %}
    ipPools:
{% if ipv4_enabled %}
    - blockSize: 26
      cidr: "{{ k8s_network_pod_subnet }}"
      natOutgoing: {{ k8s_network_ipv4_nat_outgoing | ternary('Enabled', 'Disabled') }}
      nodeSelector: all()
      encapsulation: "{{ k8s_network_calico_encapsulation }}"
{% endif %}
{% if ipv6_enabled %}
    - blockSize: 122
      cidr: "{{ k8s_network_pod_subnet_v6 }}"
      natOutgoing: {{ k8s_network_ipv6_nat_outgoing | ternary('Enabled', 'Disabled') }}
      nodeSelector: all()
      encapsulation: "{{ k8s_network_calico_encapsulation }}"
{% endif %}

apiServer:
  enabled: true

{% if image_versions.calico_version is version('3.30', 'ge') %}
# https://www.tigera.io/blog/calico-whisker-your-new-ally-in-network-observability/
# goldmane configures the Calico Goldmane flow aggregator.
goldmane:
  enabled: false
# whisker configures the Calico Whisker observability UI.
whisker:
  enabled: false
{% endif %}

nodeSelector:
  kubernetes.io/os: linux
  node-role.kubernetes.io/control-plane: ""
