{
{% if scheduling_key %}
  "nodeAffinity": {
    "requiredDuringSchedulingIgnoredDuringExecution": {
      "nodeSelectorTerms": [
        {
          "matchExpressions": [
            {
              "key": {{ scheduling_key | to_json }},
              "operator": "Exists"
            }
          ]
        }
      ]
    }
  }
{% endif %}
}
