installCRDs: true
global:
  priorityClassName: system-cluster-critical
affinity: {{ lookup('template', 'roles/common_defaults_v1/templates/affinity.json') | to_yaml }}
tolerations: {{ lookup('template', 'roles/common_defaults_v1/templates/tolerations.json') | to_yaml }}
cainjector:
  affinity: {{ lookup('template', 'roles/common_defaults_v1/templates/affinity.json') | to_yaml }}
  tolerations: {{ lookup('template', 'roles/common_defaults_v1/templates/tolerations.json') | to_yaml }}
webhook:
  affinity: {{ lookup('template', 'roles/common_defaults_v1/templates/affinity.json') | to_yaml }}
  tolerations: {{ lookup('template', 'roles/common_defaults_v1/templates/tolerations.json') | to_yaml }}
{% if k8s_monitoring_enabled %}
prometheus:
  enabled: true
  servicemonitor:
    enabled: true
{% if monitoring_common_labels %}
    labels:
{% for label_key, label_value in monitoring_common_labels.items() %}
      {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
{% endif %}
