{{ _auto_generated_preamble }}

[Journal]
Storage={{ journald_storage }}
ForwardToSyslog={{ journald_forward_to_syslog | lower }}
SystemMaxUse={{ journald_system_max_use }}
RuntimeMaxUse={{ journald_runtime_max_use }}
