---
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  calicoNetwork:
    ipPools:
    - blockSize: 26
      cidr: "{{ k8s_network_pod_subnet }}"
      natOutgoing: Enabled
      nodeSelector: all()
      disabled: False
      encapsulation: "{{ k8s_network_calico_encapsulation }}"
{% if dualstack_support %}
    - blockSize: 26
      cidr: "{{ k8s_network_pod_subnet_v6 }}"
      natOutgoing: Disabled
      nodeSelector: all()
      encapsulation: "{{ k8s_network_calico_encapsulation }}"
{% endif %}
...
