helmController:
  priorityClassName: system-cluster-critical
  affinity: {{ lookup('template', 'roles/common_defaults_v1/templates/affinity.json') | to_json }}
  tolerations: {{ lookup('template', 'roles/common_defaults_v1/templates/tolerations.json') | to_json }}
imageAutomationController:
  priorityClassName: system-cluster-critical
  affinity: {{ lookup('template', 'roles/common_defaults_v1/templates/affinity.json') | to_json }}
  tolerations: {{ lookup('template', 'roles/common_defaults_v1/templates/tolerations.json') | to_json }}
imageReflectionController:
  priorityClassName: system-cluster-critical
  affinity: {{ lookup('template', 'roles/common_defaults_v1/templates/affinity.json') | to_json }}
  tolerations: {{ lookup('template', 'roles/common_defaults_v1/templates/tolerations.json') | to_json }}
kustomizeController:
  priorityClassName: system-cluster-critical
  affinity: {{ lookup('template', 'roles/common_defaults_v1/templates/affinity.json') | to_json }}
  tolerations: {{ lookup('template', 'roles/common_defaults_v1/templates/tolerations.json') | to_json }}
notificationController:
  priorityClassName: system-cluster-critical
  affinity: {{ lookup('template', 'roles/common_defaults_v1/templates/affinity.json') | to_json }}
  tolerations: {{ lookup('template', 'roles/common_defaults_v1/templates/tolerations.json') | to_json }}
sourceController:
  priorityClassName: system-cluster-critical
  affinity: {{ lookup('template', 'roles/common_defaults_v1/templates/affinity.json') | to_json }}
  tolerations: {{ lookup('template', 'roles/common_defaults_v1/templates/tolerations.json') | to_json }}
prometheus:
  podMonitor:
    create: {{ k8s_monitoring_enabled | bool }}
    additionalLabels:
      app.kubernetes.io/component: monitoring
      release: prometheus-stack  # That's the default podmonitor selector of our prometheus
