{% if (item.port %}
  {% set hosts = [container_mirror_default_host ~ ":" ~ item.port] %}
{% else %}
  {% set hosts = item.mirrors %}
{% endif %}
{% for host in hosts %}
[host.{{ host | to_json}}]
  capabilities = ["pull", "resolve"]
{% if container_mirror_ca %}
  ca = "/etc/containerd/mirror-ca.pem"
{% endif %}
{% endfor %}
