apiVersion: projectcalico.org/v3
kind: IPPool
metadata:
  name: calico-ippool
spec:
  cidr: "{{ k8s_network_pod_subnet }}"
  ipipMode: Never
  natOutgoing: true
  disabled: false
  nodeSelector: all()
