-----BEGIN CERTIFICATE-----{{ lookup(
    'community.hashi_vault.vault_read',
    '%s/%s/%s/cert/ca_chain' | format(vault_path_prefix, vault_cluster_name, ca_pki_name),
    auth_method='approle',
    role_id=cat_role_id.stdout,
    secret_id=cat_secret_id.stdout,
    mount_point=vault_nodes_approle
).data.ca_chain.split('-----BEGIN CERTIFICATE-----')[-1] }}
