{{ _auto_generated_preamble }}

{% for hostname in groups['masters'] %}
{% set peer = hostvars[hostname] %}
protocol bgp {{ hostname | replace('-', '_') }} {
    table master;
    local {{ local_ipv4_address }} as {{ k8s_network_bgp_gateway_as }};
    neighbor {{ peer.local_ipv4_address }} as {{ k8s_network_bgp_worker_as }};
    multihop;
    import filter {
        /* universal are routes we may export to our peers */
        scope = SCOPE_UNIVERSE;
        accept;
    };
    export filter {
        if scope != SCOPE_ORGANIZATION then {
            reject;
        }
        accept;
    };
}

{% endfor %}
