#jinja2: lstrip_blocks: True
{{ _auto_generated_preamble }}

global_defs {
    # These settings are required to make things work on OVN-based
    # clouds.
    # Inspired by https://github.com/stackitcloud/yawol/pull/129/files
    vrrp_garp_master_repeat 5
    vrrp_garp_interval 1
    vrrp_garp_lower_prio_repeat 1
    vrrp_garp_master_refresh 300
    vrrp_garp_master_refresh_repeat 1
    vrrp_higher_prio_send_advert true
    # Enforce VRRP version v3
    vrrp_version 3
}

vrrp_script chk_haproxy {
    script "/etc/keepalived/chk_haproxy.sh"
    interval 2
    fall 2
    rise 2
}

# Virtual Group Gateway
# Group the VRRP instances
vrrp_sync_group VGG {
   group {
{% if ipv4_enabled %}
      VIP_1
{% endif %}
{% if ipv6_enabled %}
      VIP_1_V6
{% endif %}
{% if ch_k8s_lbaas_enabled %}
      LBaaS_VIPs
{% endif %}
   }
}

{% if ipv4_enabled %}
vrrp_instance VIP_1 {
    state BACKUP
    interface {{ public_ipv4_interface }}
    # All VRRP instances belonging to the same cluster must share this id
    virtual_router_id 47
    priority {{ vrrp_priorities[(groups['frontend'] | sort).index(inventory_hostname)] }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ vrrp_password }}
    }
    virtual_ipaddress {
        {{ public_fixed_ip }}
    }
    track_script {
        chk_haproxy
    }
    notify /etc/keepalived/notifier.sh
}
{% if public_fixed_ip != networking_fixed_ip %}
vrrp_instance VIP_2 {
    state BACKUP
    interface {{ private_ipv4_interface }}
    # All VRRP instances belonging to the same cluster must share this id
    virtual_router_id 47
    priority {{ vrrp_priorities[(groups['frontend'] | sort).index(inventory_hostname)] }}
    advert_int 1
    virtual_ipaddress {
        {{ networking_fixed_ip }}
    }
    # Stop nodes with higher priority taking over the master role
    # to prevent unnecessary traffic interruption and flapping if the higher
    # priority node has problems and goes absent and becomes available frequently.
    # We do not really care which gateway exactly is master but that connectivity
    # is stable.
    nopreempt
    track_script {
        chk_haproxy
    }
    notify /etc/keepalived/notifier.sh
}
{% endif %}
{% endif %}

{% if ipv6_enabled %}
vrrp_instance VIP_1_V6 {
    state BACKUP
    interface {{ public_ipv6_interface }}
    virtual_router_id 47
    priority {{ vrrp_priorities[(groups['frontend'] | sort).index(inventory_hostname)] }}
    advert_int 1
    virtual_ipaddress {
        {{ public_fixed_ip_v6 }}
    }
    unicast_src_ip {{ local_ipv6_address | ipaddr }}
    unicast_peer {
        {% for hostname in groups['frontend'] %}
        {% set peer = hostvars[hostname] %}
        {% if not peer.local_ipv6_address == local_ipv6_address %}
        {{ peer.local_ipv6_address | ipaddr }}
        {% endif %}
        {% endfor %}
    }
    nopreempt
    track_script {
        chk_haproxy
    }
    notify /etc/keepalived/notifier.sh
}
{% if public_fixed_ip_v6 != networking_fixed_ip_v6 %}
vrrp_instance VIP_1_V6 {
    state BACKUP
    interface {{ private_interface_v6 }}
    virtual_router_id 47
    priority {{ vrrp_priorities[(groups['frontend'] | sort).index(inventory_hostname)] }}
    advert_int 1
    virtual_ipaddress {
        {{ networking_fixed_ip_v6 }}
    }
    # Stop nodes with higher priority taking over the master role
    # to prevent unnecessary traffic interruption and flapping if the higher
    # priority node has problems and goes absent and becomes available frequently.
    # We do not really care which gateway exactly is master but that connectivity
    # is stable.
    nopreempt
    track_script {
        chk_haproxy
    }
    notify /etc/keepalived/notifier.sh
}
{% endif %}
{% endif %}

{% if ch_k8s_lbaas_enabled %}
include /var/lib/ch-k8s-lbaas-agent/keepalived/*.conf
{% endif %}
