[Unit]
Description=Prometheus exporter for keepalived
Documentation=https://github.com/gen2brain/keepalived_exporter

[Install]
WantedBy=multi-user.target

[Service]
Restart=always
ExecStart=/usr/local/bin/keepalived_exporter
User=keepalived-exporter
Group=keepalived-exporter
NoNewPrivileges=true
RestrictSUIDSGID=true
ProtectSystem=strict
ProtectHome=read-only
AmbientCapabilities=CAP_KILL CAP_DAC_READ_SEARCH CAP_NET_ADMIN
PrivateTmp=false
