{% for host in groups['frontend'] %}
@cert-authority {{ host }},{{ hostvars[host]['local_ipv4_address'] }},{{ hostvars[host]['ansible_host'] }} {{ ssh_ca_vault.data.data.public_key }}
{% endfor %}
{% for host in groups['k8s_nodes'] %}
@cert-authority {{ host }},{{ hostvars[host]['local_ipv4_address'] }},{{ hostvars[host]['ansible_host'] }} {{ ssh_ca_vault.data.data.public_key }}
{% endfor %}
