##
defaultRules:
  create: false

##
global:
  rbac:
    create: true
    pspEnabled: {{ k8s_use_podsecuritypolicies | bool }}

##
alertmanager:
  enabled: false

##
grafana:
  enabled: false

##
kubeApiServer:
  enabled: false

##
kubelet:
  enabled: false

##
kubeControllerManager:
  enabled: false

##
coreDns:
  enabled: false

##
kubeEtcd:
  enabled: false

##
kubeScheduler:
  enabled: false

##
kubeProxy:
  enabled: false

##
kubeStateMetrics:
  enabled: false

##
kube-state-metrics:
  rbac:
    create: false
  podSecurityPolicy:
    enabled: false

##
nodeExporter:
  enabled: false

##
prometheusOperator:
  enabled: true
  resources:
    limits:
      cpu: {{ monitoring_prometheus_operator_cpu_limit | to_json }}
      memory: {{ monitoring_prometheus_operator_memory_limit | to_json }}
    requests:
      cpu: {{ monitoring_prometheus_operator_cpu_request | to_json }}
      memory: {{ monitoring_prometheus_operator_memory_request | to_json }}
  serviceMonitor:
    relabelings:
      - sourceLabels: [__meta_kubernetes_pod_node_name]
        separator: ;
        regex: ^(.*)$
        targetLabel: nodename
        replacement: $1
        action: replace
{% if monitoring_scheduling_key %}
  tolerations:
    - key: "{{ monitoring_scheduling_key }}"
      operator: Exists
      effect: NoSchedule
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: "{{ monitoring_scheduling_key }}"
                operator: Exists
{% endif %}

##
prometheus:
  enabled: false
