{# supported_releases.rst.template #}

Supported Releases
==================

This document lists all currently supported releases of YAOOK/k8s.

.. Warning::

   Please make sure to open the newest version of this document to see the latest supported releases.

Support Policy
--------------

See :doc:`/user/explanation/deprecation-policy` for our policy on supporting and deprecating releases.

Currently Supported Releases
----------------------------

{% for version in versions %}
* {{ version.number }} ({{ version.date }})
{% if version.eol %}
   * **EOL date:** {{ version.eol }}
{% endif %}
{% endfor %}


Upgrade Recommendations
-----------------------

* We recommend staying on the latest supported version
* Plan upgrades before a version reaches its EOL date
* For upgrade instructions, see :doc:`/user/tutorial/upgrade-release`
