connections {

    rw-eap {
        local {
            auth = pubkey
            certs = server-cert.pem
            id = {{ networking_floating_ip }}
        }
        remote {
            auth = eap-mschapv2
            eap_id = %any
        }
        children {
            net {
                local_ts = {{ ipsec_local_networks | join(", ") }}
{% if ipsec_peer_networks %}
                remote_ts = {{ ipsec_peer_networks | join(", ") }}
{% endif %}
                esp_proposals = aes256-sha1-modp2048
                dpd_action = restart
            }
        }
        dpd_delay = 1
        pools = home
        version = 2
        send_certreq = no
        proposals = aes256-sha1-modp2048
    }
}

pools {
    home {
        addrs = {{ ipsec_virtual_subnet_pool }}
    }
}

secrets {

    eap-ya {
        id = ya
        secret = ooSh6xai
    }
}
