{{ _auto_generated_preamble }}

connections {

    home {
        remote_addrs = {{ networking_floating_ip }}
        # Request an arbitrary virtual IP from the responder
        vips = 0.0.0.0
        local {
            auth = psk
            id = {{ ipsec_remote_name }}
        }
        remote {
            auth = psk
            id = {{ networking_floating_ip }}
        }
        children {
            home {
                remote_ts = {{ ipsec_local_networks | join(", ") }}
{% if ipsec_peer_networks %}
                local_ts = {{ ipsec_peer_networks | join(", ") }}
{% endif %}
                esp_proposals = {{ ipsec_esp_proposals | join(", ") }}
                start_action = trap
                dpd_action = restart
                life_time = 8h
            }
        }
        dpd_delay = 10
        version = 2
        proposals = {{ ipsec_proposals | join(", ") }}
    }
}

secrets {

    ike-1 {
        id-1 = {{ ipsec_remote_name }}
        id-2 = {{ networking_floating_ip }}
        secret = {{ ipsec_eap_psk }}
    }
}
