connections {

    rw-eap {
{% if ipsec_remote_addrs %}
        remote_addrs = {{ ipsec_remote_addrs | join(", ") }}
{% endif %}
        local {
            auth = pubkey
            certs = server-cert.pem
            id = {{ networking_floating_ip }}
        }
        remote {
            auth = eap-mschapv2
            eap_id = %any
        }
        children {
            net {
                local_ts = {{ ipsec_local_networks | join(", ") }}
{% if ipsec_peer_networks %}
                remote_ts = {{ ipsec_peer_networks | join(", ") }}
{% endif %}
                esp_proposals = {{ ipsec_esp_proposals | join(", ") }}
                dpd_action = restart
            }
        }
        dpd_delay = 1
{% if ipsec_virtual_subnet_pool %}
        pools = home
{% endif %}
        version = 2
        send_certreq = no
        proposals = {{ ipsec_proposals | join(", ") }}
    }
}

{% if ipsec_virtual_subnet_pool %}
pools {
    home {
        addrs = {{ ipsec_virtual_subnet_pool }}
    }
}
{% endif %}

secrets {

    eap-ya {
        id = ya
        secret = {{ ipsec_eap_psk }}
    }
}
