{{ _auto_generated_preamble }}
{% if monitoring_node_exporter_textfile_collector %}
ARGS="--collector.textfile --collector.textfile.directory={{ monitoring_node_exporter_textfile_collector_path }}"
{% else %}
ARGS=""
{% endif %}
