---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/instance: openbao
    app.kubernetes.io/name: openbao
  name: openbao-external-active
  namespace: "{{ openbao_on_k8s.namespace }}"
spec:
  internalTrafficPolicy: Cluster
{% if ipv4_enabled and ipv6_enabled %}
  ipFamilyPolicy: PreferDualStack
{% else %}
  ipFamilyPolicy: SingleStack
{% endif %}
  ipFamilies:
{% if ipv4_enabled %}
  - IPv4
{% endif %}
{% if ipv6_enabled %}
  - IPv6
{% endif %}
  ports:
  - name: https
    port: 8250
    protocol: TCP
    targetPort: 8250
  - name: https-internal
    port: 8251
    protocol: TCP
    targetPort: 8251
  publishNotReadyAddresses: true
  selector:
    app.kubernetes.io/instance: openbao
    app.kubernetes.io/name: openbao
    component: server
    openbao-active: "true"
  sessionAffinity: None
  type: ClusterIP
...
