global:
  enabled: true
  tlsDisable: false
  serverTelemetry:
    prometheusOperator: false
injector:
  priorityClassName: "system-cluster-critical"
  enabled: false
server:
  NOTE: Openbao is considered system critical
        because it is to be used as secrets backend for other instances of Tarook
        there being an essential component
  priorityClassName: "system-cluster-critical"
  affinity: {{ lookup('template', 'roles/config/common_defaults_v1/templates/affinity.json.j2') | to_json }}
  tolerations: {{ lookup('template', 'roles/config/common_defaults_v1/templates/tolerations.json.j2') | to_json }}
  # We would like to use a different certificate (letsencrypt) which is valid in public in addition to the
  # one which is derived from our custom CA. openbao should terminate TLS, not the ingress controller. To cope
  # with the situation we add an additional API endpoint (8250) solely for this purpose. Unfortunately we cannot
  # use the Ingress of the helm chart as its tied to the primary API endpoint (8200).
  ingress:
    enabled: false
  logLevel: trace
  authDelegator:
    enabled: false
  standalone:
    enabled: false
  shareProcessNamespace: true
  extraEnvironmentVars:
    VAULT_CAPATH: /openbao/userconfig/openbao-cert-internal/ca.crt
  ha:
    enabled: true
    replicas: 3
    raft:
      enabled: true
      config: |
        ui = true
        listener "tcp" {
          address = "[::]:8200"
          cluster_address = "[::]:8201"
          tls_cert_file = "/openbao/userconfig/openbao-cert-internal/tls.crt"
          tls_key_file  = "/openbao/userconfig/openbao-cert-internal/tls.key"
        }
{% if openbao_on_k8s.ingress %}
        listener "tcp" {
          address = "[::]:8250"
          tls_cert_file = "/openbao/userconfig/openbao-cert-external/tls.crt"
          tls_key_file  = "/openbao/userconfig/openbao-cert-external/tls.key"
        }
{% endif %}
        storage "raft" {
          path = "/openbao/data"
          retry_join {
            leader_ca_cert_file = "/openbao/userconfig/openbao-cert-internal/ca.crt"
            leader_api_addr = "https://openbao.{{ openbao_on_k8s.namespace }}.svc.cluster.local:8200"
          }
        }
        # Enables openbao pods to expose their state via labels; requires HA
        service_registration "kubernetes" {}

        # Enable prometheus metrics endpoint
        # Todo: Is monitoring enabled?
        telemetry {
          prometheus_retention_time = "24h"
        }
  dataStorage:
    enabled: true
    size: "{{ openbao_on_k8s.storage_size }}"
    storageClass: "{{ openbao_on_k8s.storage_class }}"
  extraContainers:
{% if openbao_on_k8s.ingress %}
  - name: service-reload-external
    image: registry.yaook.cloud/yaook/service-reload:devel
    volumeMounts:
    - name: userconfig-openbao-cert-external
      mountPath: data
    env:
    - name: YAOOK_SERVICE_RELOAD_MODULE
      value: vault
    - name: TINI_SUBREAPER
      value: "1"
    args:
    - /data/
{% endif %}
  - name: service-reload-internal
    image: registry.yaook.cloud/yaook/service-reload:devel
    volumeMounts:
    - name: userconfig-openbao-cert-internal
      mountPath: /data
    env:
    - name: YAOOK_SERVICE_RELOAD_MODULE
      value: vault
    - name: TINI_SUBREAPER
      value: "1"
    args:
    - /data/
  extraVolumes:
  - type: secret
    name: openbao-cert-internal
{% if openbao_on_k8s.ingress %}
  - type: secret
    name: openbao-cert-external
{% endif %}
  service:
    type: {{ openbao_on_k8s.service_type }}
    activeNodePort: {{ openbao_on_k8s.service_active_node_port }}
serverTelemetry:
  # This service monitor comes without any means of authentication
  serviceMonitor:
    enabled: false
  prometheusRules:
    enabled: true
