apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: openbao
  namespace: "{{ openbao_on_k8s_namespace }}"
{% if monitoring_common_labels %}
  labels:
{% for label_key, label_value in monitoring_common_labels.items() %}
    {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: openbao
      app.kubernetes.io/instance: openbao
      tarook-openbao: "true"
  endpoints:
  - port: https
    bearerTokenSecret:
      name: prometheus-bearer-token
      key: token
      optional: false
    interval: 60s
    scrapeTimeout: 60s
    scheme: https
    path: /v1/sys/metrics
    params:
      format:
      - prometheus
    tlsConfig:
      serverName: "openbao.{{ openbao_on_k8s_namespace }}.svc.cluster.local"
      ca:
        secret:
          name: openbao-ca-internal
          key: ca.crt
          optional: false
  namespaceSelector:
    matchNames:
      - "{{ openbao_on_k8s_namespace }}"
